.home_content {
    margin-top: 4rem;
    padding: 1rem 0.6rem;

}
.huru_swiper_items{
    position: relative;
}
.huru_poster{
    /* filter:saturate(80%); */
    opacity: 0.7;
}
.information{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:.5rem;
    background-image: linear-gradient(to top, rgba(0,0,0,.8) 20%,rgba(0,0,0,.3) 40%, rgba(0,0,0,.2)  70%,rgba(0,0,0,.1) 100%);
    position: absolute;
    bottom:8rem;
    padding: 0 1.5rem;
    width: 100%;
    height: 25rem;
}
.information h2 {
    color: var(--font-primary);
    font-size: 1.1rem;
}
.information p {
    font-size: 0.9rem;
    color:hsl(0, 0%, 79%);
}
.watch {
    display: block;
    background-color: var(--second-primary);
    padding: .6rem 1.5rem;
    border-radius: .4rem;
    cursor: pointer;
    color: var(--font-primary);
    max-width: 9rem;
}
.second_content {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
    height: 100%;
    position: relative;
    padding: 2rem 0;
    
}
.second_content .trending {
    background-color: yellow;
    color: var(--font-primary);
    padding: 2rem 1rem;
    border-radius: .6rem;
    color: var(--font-primary);
}
.second_content .upcoming {
    background-color: rgb(228, 127, 143);
    color: var(--font-primary);
    padding: 2rem 1rem;
    border-radius: .6rem;
    color: var(--font-primary);
}
.second_content .latest {
    background-color: blueviolet;
    color: var(--font-primary);
    padding: 2rem 1rem;
    border-radius: .6rem;
    color: var(--font-primary);
}
.second_content .playing {
    background-color:cornflowerblue;
    color: var(--font-primary);
    padding: 2rem 1rem;
    border-radius: .6rem;
    color: var(--font-primary);
}

/* for large screen devices  */
.home_lg_cover{
    position: relative;
    background-image: url('../assets/chilling.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}
.home_lg_detail{
    opacity: 0.7s;
    padding: 10rem 3.5rem;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to right, rgba(0,0,0,.9) 20%,rgba(0,0,0,.7) 40%, rgba(0,0,0,.5)  70%,rgba(0,0,0,.4) 100%);
}
.home_lg_detail h1 {
    color: var(--font-primary);
    padding-bottom: 1rem;
    font-size: 2rem;
    font-weight: 700;
    line-height: 3rem;
}
.home_lg_detail p {
    color: var(--font-primary);
    padding-bottom: 2rem;
}
.home_lg_detail a {
    background-color: var(--second-primary);
    color: var(--font-primary);
    padding: .8rem 1.5rem;
    border-radius: .5rem;
    cursor: pointer;
    margin-top: 1.5rem;
}