.poster_content {
    margin-top: 2rem;
    padding: 0 0.6rem;
   
}
.poster_content .poster_control {
    background-image:url('../assets/netflix.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 1.4rem;
    border-radius: 0.5rem;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.poster_title {
    display: flex;
    flex-direction:column;
    padding: 1rem 3rem;
}
.poster_title .poster_text p{
    color: var(--font-primary);
    padding-bottom: 0.5rem;
    font-size: 1.4rem;
}
.poster_text p::before{
    content: '';
    background-color: var(--second-primary);
    width: 35px;
    height: 2px;
    position: absolute;
    left: -3rem;
    bottom:1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main_title {
    font-size: 2rem;
    color: var(--font-primary);
    padding: 0.5rem 0;
}
p {
    color: var(--second-font-color);
    margin-top: 1rem;
    font-size: 1rem;
    line-height: 2rem;
}
.poster_button {
    width: 80%;
}
.poster_button button {
    display: inline-block;
    background-color: var(--second-primary);
    padding: .6rem 1.5rem;
    border-radius: .4rem;
    cursor: pointer;
    color: var(--font-primary);
    margin-top: 1.5rem;
}