.result_control {
    margin-top: 5rem;
    height: 100vh;
    width: 100%;
    padding: 1rem 0.8rem;
}
.results_content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
    margin-top: 1rem;
    position: relative;
    padding: 2rem 0;
}
.result_title h2 {
    color: var(--font-primary);
    font-size: 1.25rem;

}
.detail_results p {
    color: var(--second-font-primary);
    font-size: 0.8rem;
}
.detail_results h1 {
    font-size: .9rem;
    font-weight: 300;
    color: var(--font-primary);
}
.not_found {
    background-color: hsl(240, 8%, 9%);
    height:auto;
    height: 14rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    color: var(--second-font-primary);
    font-size: .9rem;
}