form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.search_result {
    position: fixed;
    width: 100%;
    top: 5rem;
    right: 0;
    left: 0;
    z-index: 999;
    height: 100%;
}
.search_app {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin:0 2.5rem;
}
.result_information{
    background-color: hsl(240, 8%, 9%);
    display: flex;
    align-items: center;
    gap:1.5rem;
    padding: 0 1.5rem;
}
.result_poster {
    margin-top: 1rem;
}
.result_poster img {
    max-width: 200px;
    height: 100px;
}
.search_parent{
    display: flex;
    align-items: center;
    gap:0.4rem;
}
.search_parent:focus{
    background-color: transparent;
}

.search_parent .search_control input{
    padding: 0.3rem 1.1rem;
    transition: all 0.3s ease;
    background-color:#0e0f14;
    border: 1px solid #ccc;
    border-radius: 0.3rem;
    visibility: hidden;
    width: 0%;
    color:var(--font-primary);
}
.search_control input.active_input{
    width: 100%;
    visibility: visible;
}
.search_control input::placeholder{
    color: hsl(0, 0%, 87%);
}
.search_icon {
    background-color:#191922;
    display: block;
    padding: .4rem .8rem;
    border-radius: .4rem;
}
.logo {
    background-color:#191922;
    padding: 0.3rem 0.4rem;
    border-radius: .4rem;
    transition:all 0.3s ease-in;
}
